[run]
branch = true
source = ___library_name___

omit =
    setup.py
    tests/*
    */venv/*

[report]
fail_under = 100
show_missing = true

exclude_lines =
    pragma: no cover
    except ImportError
    raise ImportError
    raise AssertionError
    raise NotImplementedError
    if __name__ == "__main__":
